@using ThinkYi.Domain
@using ThinkYi.Web.Models
@model HomeIndex
@{
    PageI18N pi = Model.PageI18N;
    List<I18N> cooperations = Model.Cooperations;

    ViewBag.Title = pi.WebSiteTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section javascript{
    <script src="@Url.Content("~/Scripts/home-index.js")" type="text/javascript"></script>
}
<div class="rightbar">
    <div class="bannerbox">
        <div class="top">
            <h3>@pi.PRecommend</h3>
        </div>
        <div class="mid">
            <div id="slideshow">
                @{
                    var recommends = Model.Recommends;
                    int cpCount = recommends.Count;
                }
                <div class="slideImg">
                    @for (int i = 0; i < cpCount; i++)
                    {
                        if (i == cpCount - 1)
                        {
                            <a href="@Url.Action("Detail", "Display", new { id = recommends[i].ProductID })" index="@i" style="z-index: 1; display: block;">
                                <img src="@recommends[i].BigPic" alt="@recommends[i].Name" width="782" height="339">
                            </a>}
                        else
                        {
                            <a href="@Url.Action("Detail", "Display", new { id = recommends[i].ProductID })" index="@i" style="z-index: 1; display: none;">
                                <img src="@recommends[i].BigPic" alt="@recommends[i].Name" width="782" height="339">
                            </a>
                        }
                    }
                </div>
                <div class="slideBtn">
                    <ul>
                        @for (int i = 0; i < cpCount; i++)
                        {
                            int index = cpCount - 1 - i;
                            if (i == 0)
                            {
                                <li index="@index" class="on"></li>
                            }
                            else
                            {
                                <li index="@index"></li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="productbox">
        <div class="top">
            <h3>@pi.PDisplay</h3><span><a href="@Url.Action("Index", "Display", new { c1=1, c2 = 0, c3 = 0 })" class="a_white">@pi.PMore</a>>></span>
        </div>
        <div class="mid">
            <div class="marquee">
                <ul class="pick">
                    @foreach (var product in Model.Displays)
                    {
                        <li>
                            <a href="@Url.Action("Detail", "Display", new { id = product.ProductID })" class="pick_img"><img src="@product.SmallPic" width="164" height="164" /></a>
                            <p class="pick_name"><a href="@Url.Action("Detail", "Display", new { id = product.ProductID})">@product.Name</a></p>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="di"></div>
    </div>
</div>
@section cooperation{
    <div id="main2">
        <div class="lcbox">
            <div class="top">
                <h3>@pi.Cooperation</h3>
            </div>
            <div class="mid">
                <div class="flbox">
                    <h3>@cooperations[0].Name</h3>
                    <p>@cooperations[0].Remark</p>
                    <img src="~/Content/images/c1.png" />
                </div>
                <div class="fl_jt"></div>
                <div class="flbox">
                    <h3>@cooperations[1].Name</h3>
                    <p>@cooperations[1].Remark</p>
                    <img src="~/Content/images/c2.png" />
                </div>
                <div class="fl_jt"></div>
                <div class="flbox">
                    <h3>@cooperations[2].Name</h3>
                    <p>@cooperations[2].Remark</p>
                    <img src="~/Content/images/c3.png" />
                </div>
                <div class="fl_jt"></div>
                <div class="flbox">
                    <h3>@cooperations[3].Name</h3>
                    <p>@cooperations[3].Remark</p>
                    <img src="~/Content/images/c4.png" />
                </div>
                <div class="fl_jt"></div>
                <div class="flbox">
                    <h3>@cooperations[4].Name</h3>
                    <p>@cooperations[4].Remark</p>
                    <img src="~/Content/images/c5.png" />
                </div>
                <div class="fl_jt"></div>
                <div class="flbox">
                    <h3>@cooperations[5].Name</h3>
                    <p>@cooperations[5].Remark</p>
                    <img src="~/Content/images/c6.png" />
                </div>
                <div class="fl_jt"></div>
                <div class="flbox">
                    <h3>@cooperations[6].Name</h3>
                    <p>@cooperations[6].Remark</p>
                    <img src="~/Content/images/c7.png" />
                </div>
                <div class="fc"></div>
            </div>
            <div class="di"></div>
        </div>
    </div>
}
