@using ThinkYi.Domain
@using ThinkYi.Web.Models
@model InformationDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Post post = Model.Post;
    Information information = Model.Information;
}
@section javascript{
    <script src="@Url.Content("~/Scripts/information-detail.js")" type="text/javascript"></script>
}
@section banner{
    <div class="banner1">
        <img src="@post.BannerPic" alt="@post.Code" width="995" height="204">
    </div>
}
<input type="hidden" id="InformationID" value="@information.InformationID" />
<div class="rightbar">
    <div class="neibox">
        <div class="top">
            <h3>您现在的位置是：首页 > @ViewBag.Caption</h3>
        </div>
        <div class="mid">
            <div class="navbox">
                <b>
                    @ViewBag.Caption
                    <br />
                </b>
                <b class="c_hui">
                    @ViewBag.Remark
                </b>
            </div>
            <div class="neicontent">
                <div class="detail">
                    <h1 class="title">@information.Name</h1>
                    <div class="time">发布时间：@information.Date.ToString("yyyy-MM-dd")</div>
                    <div class="content">
                        @Html.Raw(information.Text)
                    </div>
                </div>
            </div>
        </div>
        <div class="di"></div>
    </div>
</div>
