@model List<ThinkYi.Domain.Language>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>新创网站管理后台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="~/Content/themes/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/layout/css/layout-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/jqGrid/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/admin.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jqueryui/redmond/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/layout/js/jquery.layout.min.js" type="text/javascript"></script>
    <script src="~/Scripts/admin-index.js" type="text/javascript"></script>
</head>
<body>
    @***********north start*****************@
    <div class="ui-layout-north">
        <div style="float: right; padding: 5px 5px 0px 0px; font-size: 12px; color:white;">
            <div style="float: right; margin-right: 5px;">
                <strong>用户：</strong>
                <span>@ViewBag.DisplayName</span>
                <span style="padding:0px 5px;">|</span>
                <strong><a id="reset" href="javascript:void(0);" style="color:white;">修改密码</a></strong>
                <span style="padding:0px 5px;">|</span>
                <strong><a id="logout" href="@Url.Action("LogOut","Account")" style="color:white;">退出</a></strong>
            </div>
        </div>
        <div id="logo">
            <span class="big">管理后台</span>
            <span class="small">东莞新创印刷制品有限公司</span>
        </div>
    </div>
    @***********north end*******************@
    @***********west start******************@
    <div id="tabs-west" class="ui-layout-west">
        <div style="border-bottom: 1px solid #79b7e7; background: #3682dd;color:white; height:30px; line-height: 30px; text-align: center; font-size: 13px;">--- 导航菜单 ---</div>
        <div id="accordion" class="accordion">
            <h3>系统管理</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div class="selected" view="I18N">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">语言设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Post" code="footer">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/book_addresses.png">
                                <span class="nav">页脚设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Banner" code="payment">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">在线支付横幅设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="payment">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">在线支付图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Post" code="payment">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/book_addresses.png">
                                <span class="nav">在线支付内容管理</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>关于新创</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div view="Banner" code="about">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">横幅图片设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="about">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">标题图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Post" code="about">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/book_addresses.png">
                                <span class="nav">关于新创内容</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>产品价格</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div view="Banner" code="price">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">横幅图片设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="price">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">标题图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Post" code="price">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/book_addresses.png">
                                <span class="nav">产品价格内容</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>生产设备</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div view="Banner" code="facilities">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">横幅图片设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="facilities">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">标题图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Post" code="facilities">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/book_addresses.png">
                                <span class="nav">生产设备内容</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>产品展示</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div view="Banner" code="display">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">横幅图片设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="display">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">标题图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="ProductType">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/chart_organisation.png">
                                <span class="nav">产品类别管理</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Product">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/sitemap_color.png">
                                <span class="nav">查看产品列表</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="ProductAdd">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/note.png">
                                <span class="nav">添加新产品</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>行业知识</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div view="Banner" code="information">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">横幅图片设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="information">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">标题图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Information">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/sitemap_color.png">
                                <span class="nav">行业知识列表</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="InformationAdd">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/note.png">
                                <span class="nav">添加行业知识</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>招聘信息</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div view="Banner" code="recuit">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">横幅图片设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="recuit">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">标题图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Post" code="recuit">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/book_addresses.png">
                                <span class="nav">招聘信息内容</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>联系我们</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div view="Banner" code="contact">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">横幅图片设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="TitlePic" code="contact">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">标题图标设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div view="Post" code="contact">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/book_addresses.png">
                                <span class="nav">联系我们内容</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @***********west end********************@
    @***********center start****************@
    <div class="ui-layout-center">
        <div style="border-bottom: 1px solid #79b7e7; background: #3682dd; color: white; height:30px; line-height: 30px; font-size: 13px; padding-left:10px; margin-bottom:2px;">
            <div style="float:left;">
                后台首页 > <span class="ribbon">语言设置</span>
            </div>
            <div class="language">
                @foreach (var l in Model)
                {
                    <a href="javascript:void(0);" name="@l.Code" title="@l.LanguageID">
                        @l.Name
                    </a>
                }
            </div>
        </div>
        <iframe id="mainFrame" name="mainFrame" class="ui-layout-content" width="100%" frameborder="0" scrolling="auto"
                src="@Url.Action("Nav",new {viewName="I18N"})"></iframe>
    </div>
    @***********center end***********@

    <div id="resetDialog" title="修改密码">
        <ul>
            <li>
                <label style="margin-top:0px;">请输入旧密码</label>
                <input type="password" id="OldPwd" name="OldPwd" class="text ui-widget-content ui-corner-all" style="width:80%; height:23px; padding-left:5px;" />
            </li>
            <li>
                <label>请输入新密码</label>
                <input type="password" id="NewPwd" name="NewPwd" class="text ui-widget-content ui-corner-all" style="width: 80%; height: 23px; padding-left: 5px;" />
            </li>
        </ul>
    </div>
</body>
</html>
