@using ThinkYi.Domain
@using ThinkYi.Web.Models
@model CultureDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Post post = Model.Post;
    Culture culture = Model.Culture;
}
@section javascript{
    
}
@section banner{
    <div class="banner1">
        <img src="@post.BannerPic" alt="@post.Code" width="995" height="204">
    </div>
}
<input type="hidden" id="CultureID" value="@culture.CultureID" />
<div class="rightbar">
    <div class="neibox">
        <div class="top">
            <h3>@ViewBag.LongCaption</h3>
        </div>
        <div class="mid">
            <div class="navbox" style="background:url(@post.TitlePic) no-repeat left center;">
                <b>
                    @ViewBag.ShortCaption
                    <br />
                </b>
                <b class="c_hui">
                    @ViewBag.Remark
                </b>
            </div>
            <div class="neicontent">
                <div class="detail">
                    <div class="content">
                        @Html.Raw(culture.Text)
                    </div>
                </div>
            </div>
        </div>
        <div class="di"></div>
    </div>
</div>
