<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    @RenderSection("javascript", false)
</head>
<body>
    <div id="container">
        @{
            Html.RenderAction("_Header", "Partial", new { lCode = ViewContext.RouteData.Values["language"] });
        }
        @RenderSection("banner", false)
        <div id="main">
            <div class="leftbar">
                @{
                    Html.RenderAction("_TypePartial", "Product", new { lCode = ViewContext.RouteData.Values["language"] });
                    Html.RenderPartial("_ECWidget");
                }
            </div>
            @RenderBody()
            <div class="fc"></div>
        </div>
        @RenderSection("cooperation", false)
        @{
            Html.RenderAction("_Footer", "Partial", new { lCode = ViewContext.RouteData.Values["language"] });
        }
    </div>
</body>
</html>
