@using ThinkYi.Web.Models
@model PartialPType
<div class="probox">
    <div class="protop"><h3>@Model.title</h3></div>
    <div class="promid">
        <div class="prolist">
            <ul>
                @{
                    var data = Model.ProductTypes;
                    var parentTypes = data.Where(p => p.ParentTypeID == 0).ToList();
                    foreach (var pt in parentTypes)
                    {
                        int ptid = pt.ProductTypeID;
                        var childTypes = data.Where(p => p.ParentTypeID == ptid).ToList();
                        int count = childTypes.Count;

                        int categoryID = pt.CategoryID;
                        string controllerName = "Display";
                        switch (categoryID)
                        {
                            case 2:
                                controllerName = "Advert";
                                break;
                            case 3:
                                controllerName = "Leaflet";
                                break;
                            default:
                                controllerName = "Display";
                                break;
                        }
                        <li>
                            <a href="@Url.Action("Index", controllerName, new { c1 = categoryID, c2 = pt.ProductTypeID, c3 = 0 })">@pt.Name</a>
                            <ul>
                                <li>
                                    @for (int i = 0; i < count; i++)
                                    {
                                        <a href="@Url.Action("Index", controllerName, new { c1 = categoryID, c2 = childTypes[i].ProductTypeID, c3 = 0 })">@childTypes[i].Name</a>
                                        if (i < count - 1)
                                        {
                                            <span>·</span>
                                        }
                                    }
                                </li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>