@using ThinkYi.Domain
@using ThinkYi.Web.Models
@model ProductDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Post post = Model.Post;
    Product product = Model.Product;
    Product preProduct = Model.PreProduct;
    Product nextProduct = Model.NextProduct;

    int preCategoryID = 0;
    int nextCategoryID = 0;
    int preID = 0;
    int nextID = 0;
    string preCName = "Display";
    string nextCName = "Display";
    if (preProduct != null)
    {
        preID = preProduct.ProductID;
        preCategoryID = preProduct.ProductType.CategoryID;
        switch (preCategoryID)
        {
            case 2:
                preCName = "Advert";
                break;
            case 3:
                preCName = "Leaflet";
                break;
            default:
                preCName = "Display";
                break;
        }
    }
    if (nextProduct != null)
    {
        nextID = nextProduct.ProductID;
        nextCategoryID = nextProduct.ProductType.CategoryID;
        switch (nextCategoryID)
        {
            case 2:
                nextCName = "Advert";
                break;
            case 3:
                nextCName = "Leaflet";
                break;
            default:
                nextCName = "Display";
                break;
        }
    }
    string tempSrc = "../../../Content/images/NoPic.jpg";
    string sPic = string.IsNullOrEmpty(product.SmallPic) ? tempSrc : product.SmallPic;
}
@section javascript{
    @*<script src="@Url.Content("~/Scripts/product-detail.js")" type="text/javascript"></script>*@
}
@section banner{
    <div class="banner1">
        <img src="@post.BannerPic" alt="@post.Code" width="995" height="204">
    </div>
}
<div class="rightbar">
    <div class="neibox">
        <div class="top">
            <h3>@ViewBag.LongCaption</h3>
        </div>
        <div class="mid">
            @*<div class="navbox" style="background:url(@post.TitlePic) no-repeat left center;">
                    <b>
                        @ViewBag.ShortCaption
                        <br />
                    </b>
                    <b class="c_hui">
                        @ViewBag.Remark
                    </b>
                </div>*@
            <h3 class="title productTitle">@product.Name</h3>
            <input id="preID" type="hidden" value="@preID" />
            <input id="nextID" type="hidden" value="@nextID" />
            <div class="pCenter">
                <table style="width:100%;">
                    <tr>
                        <td class="pCenter"><a href="@Url.Action("Detail", preCName, new { id = preID })" id="gotoPre"><img src="~/Content/images/arr_l.gif" /></a></td>
                        <td><img id="SmallPicPreview" src="@sPic" style="max-width:660px;" title="@product.Name" /></td>
                        <td><a href="@Url.Action("Detail", nextCName, new { id = nextID })" id="gotoNext"><img src="~/Content/images/arr_r.gif" /></a></td>
                    </tr>
                </table>
            </div>
            <div class="neicontent">
                @Html.Raw(product.Text)
            </div>
        </div>
        <div class="di"></div>
        @*<div class="pagebox">

                【<a disabled="disabled" class="disabled" href="@Url.Action("Detail", preCName, new { id = preID })" id="gotoPre">@Model.PreText</a>】
                【<a disabled="disabled" class="disabled" href="@Url.Action("Detail", nextCName, new { id = nextID })" id="gotoNext">@Model.NextText</a>】
            </div>*@
        <script type="text/javascript">
            var preID = $("#preID").val();
            var nextID = $("#nextID").val();
            if (!parseInt(preID)) {
                $("#gotoPre").attr("href", "javascript:void(0);");
            }
            if (!parseInt(nextID)) {
                $("#gotoNext").attr("href", "javascript:void(0);");
            }
        </script>
    </div>
</div>
