@using ThinkYi.Domain
@model ThinkYi.Web.Models.ProductIndex
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Post post = Model.Post;
    List<Product> products = Model.Products;

    int next = Model.Curr + 1;
    int pre = Model.Curr - 1;
    int last = Model.Total % 16 == 0 ? Model.Total / 16 : Model.Total / 16 + 1;
}

@section javascript{
    <script src="@Url.Content("~/Scripts/product-index.js")" type="text/javascript"></script>
}
<input type="hidden" id="lCode" value="@ViewContext.RouteData.Values["language"]" />
<input type="hidden" id="Total" value="@Model.Total" />
<input type="hidden" id="Next" value="@Model.Next" />
<input type="hidden" id="Pre" value="@Model.Pre" />

@section banner{
    <div class="banner1">
        <img src="@post.BannerPic" alt="@post.Code" width="995" height="204">
    </div>
}
<div class="rightbar">
    <div class="productbox">
        <div class="top">
            <h3>
                <span id="t1">@ViewBag.Caption1</span>
                <span id="t2">@ViewBag.Caption2</span>
                <span id="t3">@ViewBag.Caption3</span>
            </h3>
        </div>
        <div class="mid" style="min-height:745px;">
            <ul class="pick" style="height:670px;">
                @foreach (Product p in products)
                    {
                    <li style="margin-bottom:45px;" pid="@p.ProductID">
                        <a href="javascript:void(0);" class="pick_img">
                            <img src="@p.SmallPic" width="164" height="122" />
                        </a>
                        <p class="pick_name">
                            <a href="javascript:void(0);">@p.Name</a>
                        </p>
                    </li>
                    }
            </ul>
            <div style="clear:both;"></div>
            <div class="pagebox">
                【<a href="@Url.Action("Index", "Display", new { language = ViewContext.RouteData.Values["language"], ProductTypeID = ViewContext.RouteData.Values["ProductTypeID"], PageIndex = 1 })" id="gotoFirst">@Model.FirstText</a>】
                【<a href="@Url.Action("Index", "Display", new { language = ViewContext.RouteData.Values["language"], ProductTypeID = ViewContext.RouteData.Values["ProductTypeID"], PageIndex = pre })" id="gotoPre">@Model.PreText</a>】
                【<a href="@Url.Action("Index", "Display", new { language = ViewContext.RouteData.Values["language"], ProductTypeID = ViewContext.RouteData.Values["ProductTypeID"], PageIndex = next })" id="gotoNext">@Model.NextText</a>】
                【<a href="@Url.Action("Index", "Display", new { language = ViewContext.RouteData.Values["language"], ProductTypeID = ViewContext.RouteData.Values["ProductTypeID"], PageIndex = last })" id="gotoLast">@Model.LastText</a>】
            </div>
        </div>
        <div class="di"></div>
    </div>
</div>
