@using ThinkYi.Domain
@model Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section banner{
    <div class="banner1">
        <img src="@Model.BannerPic" alt="@Model.Code" width="995" height="204">
    </div>
}
<div class="rightbar">
    <div class="neibox">
        <div class="top">
            <h3>@ViewBag.LongCaption</h3>
        </div>
        <div class="mid">
            <div class="navbox" style="background:url(@Model.TitlePic) no-repeat left center;">
                <b>
                    @ViewBag.ShortCaption
                    <br />
                </b>
                <b class="c_hui">
                    @ViewBag.Remark
                </b>
            </div>
            <div class="neicontent">
                @Html.Raw(Model.Text)
            </div>
        </div>
        <div class="di"></div>
    </div>
</div>
